*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

.same-container{
    padding: 15px 100px;
}

#wrapper{
    padding-top: 106px;
}

/********Barra Log-in********/

.header-bar{
    width: 100%;
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 6px;
    padding-bottom: 6px;
    margin:0;
    position: fixed;
    top:0;
    left:0;
}

.hsg-nav-bar::after{
    content: "";
    display:table;
    clear:both;
}

.hsg-nav-bar{
    text-align: center;
}

.languages{
    font-weight: normal;
    color: #33575B;
}

.box-hsg-nav-bar-left{
    float:left;
    display: inline-block;
    padding: 1.00rem 0;
    padding-top: 1.50rem;
    padding-right: 0px;
    padding-bottom: 1.00rem;
    padding-left: 0px;
}

.box-hsg-nav-bar-right{
    float:right;
}

#search-link{
    color: lightblue;
    margin-right: 10px;
}

.botton-login{
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border-radius: 2px;
}

.botton-login:hover{
    background-color: #ffe8e2;
    color: #ff7a59;
}

.botton-free{
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    padding: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border-radius: 2px;
}

.botton-free:hover{
    background-color: #ffe8e2;
    color: #ff7a59;
}

/********Logo + Menu*********/

.header-menu{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 8px;
    padding-bottom: 8px;
    margin:0;
}

.hsg-nav-menu::after{
    content: "";
    display:table;
    clear:both;
}

.box-hsg-nav-menu-left{
    float:left;
}

.box-hsg-nav-menu-right{
    float: right;
}

#logo-hsg{
    padding: 10px 0px;
    box-sizing: border-box;
}

.logo-img-hsg{
    width: 100px;
}

.main-menu-list ul{
    text-align: right;
}

.main-menu-list li{
    display: inline-block;
}

.main-menu-list a{
    color: #33575B;
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
}

.menu-list a:hover{
    color: #33575B;
}

#sort-down{
    color: #7c98b6;
}

/********Barra frase promozionale*********/

.header-promo{
    background-color:#33575B;
}

.hsg-promo-bar{
    color:white;
    font-size: 20px;
    line-height: 35px;
    font-weight: normal;
}

.hsg-promo-bar-link{
    color:white;
    font-size: 20px;
    font-weight: normal;
}


/********Homepage content*********/

.homepage-content{
    weight: 100%;
    /* height: 566px; */
    padding-top: 20px;
    background-color: #ffeaed;
    background-image: url(https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.box-title-first-section::after{
    content: "";
    display:table;
    clear:both;
}

.box-title-first-section{
    height: 120px;
    weight: 50px;
}

.title-first-section{
    float: left;
    font-weight: bold;
    color: #33575B;
    font-size: 50px;
}

.paragrafo-first-section{
    letter-spacing: 2px;
    color: #33575B;
    line-height: 26px;
    float: left;
}

.botton-free-due{
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    padding: 30px;
    margin: 5px 5px;
    border-radius: 3px;
    font-size: 20px;
    float: left;
}

.botton-free-due:hover{
    background-color: #ffbb8d;
    color: white;
}

.final-first-section{
    letter-spacing: 1px;
    color: #33575B;
    line-height: 20px;
    font-size: 13px;
    padding-right: 200px;
    float: left;
}

/********Homepage start*********/

.home-growth-stack{
    background-color: #F5F8FA;
    padding-top: 80px;
    display: inline-block;
}

.first-row-home-growth-stack::after{
    content: "";
    display:table;
    clear:both;
}

.box-powerful{
    background-color: white;
    height: 500px;
    width: 350px;
    border: 1px solid white;
    padding: 60px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.box-powerful-special{
    height: 500px;
    width: 350px;
    padding: 30px;
    margin-left: 20px;
    margin-top: 20px;
    display: inline-block;
    float: left;
}

.title-second-section-special{
    color: #33575B;
    font-size: 35px;
    padding-bottom: 30px;
}

.paragrafo-second-section-special{
    letter-spacing: 1px;
    color: #33575B;
    line-height: 26px;
}

#icon-second-section{
    color: orange;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.main-title-second-section{
    display: inline-block;
    color: #33575B;
    font-size: 15px;
    padding-bottom: 30px;
    font-weight: bold;
}

.paragrafo-second-section{
    letter-spacing: 1px;
    color: #33575B;
    line-height: 20px;
    height: 35%;
}

.line-second-section{
    margin: 10px 0;
    color: 	#F8F8F8;
}

.title-second-section{
    text-transform: uppercase;
    color: #33575B;
    display: block;
    margin-bottom: 15px;
}

.box-list-items-second-section{
    list-style-type: none;
    display: inline-block;
}

.list-items-second-section{
    margin-top: 10px;
}

#check-circle{
    color: orange;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
}

.items-second-section{
    color: #33575B;
}

.botton-getfreecrm{
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    padding: 20px 30px;
    margin: 15px 15px;
    font-size: 15px;
    border-radius: 2px;
}

.botton-getfreecrm:hover{
    background-color: #ffe8e2;
    color: #ff7a59;
}


/********Home community*********/

.home-community{
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
    padding: 60px 0;
}

.title-home-community{
    color: white;
    text-align: center;
    font-size: 35px;
    line-height: 40px;
    font-weight: bold;
}

.paragrafo-home-community{
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    padding: 2% 10%;
}

.big-table-community::after{
    content: "";
    display:table;
    clear:both;
}

.big-table-community{
    margin-top: 40px;
}

#row-right{
    border-right: none;
}

#row-left{
    border-left: none;
}

.first-row-community div.box-community{
    border-bottom: 1px solid #FFFFF0;
    border-right: 1px solid #FFFFF0;
}

.second-row-community div.box-community{
    border-right: 1px solid #FFFFF0;
}

.box-community{
    height: 250px;
    width: 286px;
    padding: 20px;
    margin: 0 auto;
    float: left;
}

#icon-community{
    color: #FFFFF0;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 20px 90px;
    display: inline-block;
}

.number-community{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 8px 70px;
    display: inline-block;
}

.paragrafo-community {
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px 10px;
    display: inline-block;
    margin: 10px 10px;
}

.down-community{
    text-align: center;
}

#icon-inbound-community-special{
    color: #FFFFF0;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    padding: 20px 50px;
    display: inline-block;
}

.number-community-special{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 8px 100px;
    display: inline-block;
}

.number-community-special-two{
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 8px 50px;
    display: inline-block;
}


/********Home costumers*********/

.home-customers{
    width: 100%;
    /* height: 500px; */
    background-color: white;
    margin:0;
}

.big-box-home-customers{
    margin-top: 10%;
}

.big-box-home-customers::after{
    content: "";
    display:table;
    clear:both;
}

.box-home-customers-left{
    height: 10%;
    width: 40%;
    padding: 30px;
    display: inline-block;
    float: left;
}

.box-home-customers-right{
    width: 60%;
    padding: 0 30px;
    display: inline-block;
    float: right;
}

.title-home-customers{
    float: left;
    font-weight: bold;
    color: #33575B;
    font-size: 45px;
    padding-right: 300px;
    margin-bottom: 10px;
}

.paragrafo-home-customers{
    letter-spacing: 2px;
    color: #33575B;
    line-height: 26px;
}

#logo-home-customers{
    padding: 20px;
    float: right;
    box-sizing: content-box;
}

.img-logo-customers{
    max-height: 100%;
    width: 100px;
}

#logo-home-customers-subaru{
    text-align: center;
    padding: 0 20px;
    float: right;
    box-sizing: content-box;
}

#logo-home-customers-atlassian{
    text-align: center;
    padding: 20px 20px 0 20px;
    float: right;
    box-sizing: content-box;
}


/********Home promo*********/

.home-promo{
    weight: 100%;
    /* height: 566px; */
    padding: 8% 0;
    background-color: white;
}

.big-box-home-promo::after{
    content: "";
    display:table;
    clear:both;
}

.home-promo-left{
    float: left;
}

.home-promo-right{
    float: right;
}

.box-title-home-promo{
    /* height: 120px; */
    weight: 50px;
}

.title-home-promo{
    color: #33575B;
    font-size: 35px;
    padding: 30px 0 30px 30px;
    float: left;
}

.paragrafo-home-promo{
    letter-spacing: 2px;
    color: #33575B;
    line-height: 26px;
    float: left;
    padding-left: 30px;
}

.botton-free-tre{
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    margin: 30px;
    border-radius: 3px;
    font-size: 20px;
    float: left;
    padding: 30px;
}

.botton-free-tre:hover{
    background-color: #ffbb8d;
    color: white;
}

.final-home-promo{
    letter-spacing: 1px;
    color: #33575B;
    line-height: 20px;
    font-size: 13px;
    padding-left: 30px;
    float: left;
}

.img-girl-hubspot{
    weight:10px;
    height: 450px;
}

/********Footer*********/

.hsg-footer{
    background-color: #33475b;
    weight: 100%;
    /* height: 800px; */
    position: relative;
}

.big-box-hsg-footer::after{
    content: "";
    display:table;
    clear:both;
}

.big-box-hsg-footer{
    padding: 40px 40px 0 40px;
}

.box-hsg-footer{
    height: 40%;
    width: 20%;
    margin: 10px 25px;
    display: inline-block;
    float: left;
}

.box-hsg-footer-special{
    height: 20%;
    width: 20%;
    margin: 10px 25px 0 25px;
    display: inline-block;
    float: left;
}

.windows-footer{
    margin: 25px 0;
}

.title-hsg-footer{
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.items-box-footer{
    font-size: 14px;
    color: #CBD6E2;
    text-decoration: none;
}

.items-box-footer:hover{
    color: #0091ae;
}

.box-botton-footer::after{
    content: "";
    display:table;
    clear:both;
}

.box-botton-footer{
    float: right;
    padding-right: 6%;
    clear: both;
}

.botton-contact{
    background-color: white;
    border: 1px solid white;
    color: #33475B;
    padding: 10px;
    margin: 5px 5px;
    font-size: 14px;
    border-radius: 2px;
    font-weight: normal;
}

.botton-contact:hover{
    background-color: #e5f5f8;
    color: #33475B;
}

.big-box-hsg-footer-due::after{
    content: "";
    display:table;
    clear:both;
}

.big-box-hsg-footer-due{
    padding: 0 40px;
}

.box-social-footer{
    float: right;
    /* padding-left: 10%; */
    margin-top: 20px;
    clear: both;
}

#social-icon-footer{
    color: #CBD6E2;
    padding-right: 10px;
    margin: 10px;
    font-size: 22px;
}

#social-icon-footer:hover{
    color: #0091ae;
}

.big-box-hsg-footer-tre{
    padding: 50px 50px 0 50px;
}

.big-box-hsg-footer-tre ul{
    text-align: center;
}

.big-box-hsg-footer-tre li.language-footer{
    display: inline-block;
}

.big-box-hsg-footer-tre a{
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
    color: #CBD6E2;
    margin-right: 20px;
    font-weight: bold;
}

.big-box-hsg-footer-tre a:hover{
    color: #0091ae;
}

.row-footer{
    margin: 30px 0;
    color: #CBD6E2;
}

.big-box-hsg-footer-quattro::after{
    content: "";
    display:table;
    clear:both;
}

.big-box-hsg-footer-quattro{
    padding: 0 50px 0 50px;
}

.box-hsg-footer-left{
    float:left;
}

.box-hsg-footer-right{
    float: right;
}

#logo-hsg-footer{
    padding: 10px 0px;
    box-sizing: border-box;
    color: #CBD6E2;
}

.logo-img-footer{
    width: 100px;
}

.text-footer-copyright{
    font-size: 15px;
    color: #CBD6E2;
}

.privacy-items{
    text-align: right;
    text-decoration: none;
    font-size: 20px;
    color: #CBD6E2;
    margin-right: 20px;
    text-align: center;
    font-weight: bold;

}

.privacy-footer a.privacy-items:hover{
    color: #0091ae;
}

.icon-chat-footer{
    font-size: 30px;
    padding: 15px;
    position: fixed;
    right: 3%;
    bottom: 3%;
    border-radius: 50%;
    color: white;
    background-color: rgb(66, 91, 118);
    cursor: pointer;
}

.box-paragrafo-chat-footer{
    position: fixed;
    right: 2%;
    bottom: 15%;
    left: 80%;
    background-color: #F0FFF0;
    box-sizing: border-box;
    height: 100px;
    weight: 100px;
    cursor: pointer;
    display: inline-block;
    border-radius: 3px;
    padding: 10px 20px;
    border: 2px solid white;
}

.icon-robot-footer{
    position: fixed;
    right: 130px;
    bottom: 28%;
    width: 40px;
}

#x-icon-footer{
    color: lightgrey;
    padding-left: 200px;
}

paragrafo-chat-footer{
    color: #CBD6E2;
}
