*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

.same-container{
    padding: 15px 100px;
}

#wrapper{
    padding-top: 106px;
}

/********Barra Log-in********/

.header-bar{
    width: 100%;
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 6px;
    padding-bottom: 6px;
    margin:0;
    position: fixed;
    top:0;
    left:0;
}

.hsg-nav-bar::after{
    content: "";
    display:table;
    clear:both;
}

.hsg-nav-bar{
    text-align: center;
}

.languages{
    font-weight: normal;
    color: #33575B;
}

.box-hsg-nav-bar-left{
    float:left;
    display: inline-block;
    padding: 1.00rem 0;
    padding-top: 1.50rem;
    padding-right: 0px;
    padding-bottom: 1.00rem;
    padding-left: 0px;

}

.box-hsg-nav-bar-right{
    float:right;
}

#search{
    color: grey;
    padding-right: 10px;
}


.botton-login{
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border-radius: 2px;
}

.botton-login:hover{
    background-color: #ffe8e2;
    color: #ff7a59;
}

.botton-free{
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    padding: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border-radius: 2px;
}

.botton-free:hover{
    background-color: #ffe8e2;
    color: #ff7a59;
}

/********Logo + Menu*********/

.header-menu{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 8px;
    padding-bottom: 8px;
    margin:0;
}

.hsg-nav-menu::after{
    content: "";
    display:table;
    clear:both;
}

.box-hsg-nav-menu-left{
    float:left;
}

.box-hsg-nav-menu-right{
    float: right;
}

#logo{
    padding: 10px 0px;
    box-sizing: border-box;
}

.logo-img{
    width: 100px;
}

.main-menu-list ul{
    text-align: right;
}

.main-menu-list li{
    display: inline-block;
}

.main-menu-list a{
    color: #33575B;
    height: 50px;
    line-height: 50px;
    padding: 0 8px;
}

.menu-list a:hover{
    color: #33575B;
}

/********Barra frase promozionale*********/

.header-promo{
    background-color:#33575B;
}

.hsg-promo-bar{
    color:white;
    font-size: 20px;
    line-height: 35px;
    font-weight: normal;
}

.hsg-promo-bar-link{
    color:white;
    font-size: 20px;
    font-weight: normal;
}


/********Homepage content*********/

.homepage-content{
    weight: 100%;
    height: 566px;
    padding-top: 10px;
    background-color: #ffeaed;
}
.homepage-content-background{
    background-image: url(https://www.hubspot.com/hubfs/raw_assets/public/_Web%20Team%20Assets/Website/assets/svg/hero.svg);
    height: 566px;
    weight: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
}

.title-first-section{
    font-size: 50px;
    background-color: #ffeaed;
}

.box-title-first-section::after{
    content: "";
    display:table;
    clear:both;
}

.box-title-first-section{
    height: 120px;
    weight: 50px;
    padding: 20px 700px 0 0;
}

.title-first-section{
    float: left;
    font-weight: bold;
    color: #33575B;
}

.paragrafo-first-section{
    letter-spacing: 2px;
    color: #33575B;
    line-height: 26px;
    float: left;
}

.botton-free-due{
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    padding: 30px;
    margin: 5px 5px;
    border-radius: 3px;
    font-size: 20px;
    float: left;
}

.botton-free-due:hover{
    background-color: #ffbb8d;
    color: white;
}

.final-first-section{
    letter-spacing: 1px;
    color: #33575B;
    line-height: 20px;
    font-size: 13px;
    padding-right: 200px;
    float: left;
}

/********Homepage start*********/

/********Home community*********/

/********Home costumers*********/

/********Home promo*********/

/********Footer*********/
