*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Kumbh Sans', sans-serif;
}

.same-container{
    padding:15px 100px;
}

/********Barra Log-in********/
.header-bar{
    width: 100%;
    background-color: #F5F8FA;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 15px;
    padding-bottom: 15px;
    margin:0;
}

.hsg-nav-bar::after{
    content: "";
    display:table;
    clear:both;
}

.hsg-nav-bar{
    text-align: center;
}

.languages{
    font-weight: normal;
    color: #33575B;
}

.box-hsg-nav-bar-left{
    float:left;
    display: inline-block;
    padding: 1.00rem 0;
    padding-top: 1.50rem;
    padding-right: 0px;
    padding-bottom: 1.00rem;
    padding-left: 0px;

}

.box-hsg-nav-bar-right{
    float:right;
}

#search{
    color: lightblue;
}


.botton-login{
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border-radius: 2px;
}

.botton-login:hover{
    background-color: #ffe8e2;
    color: #ff7a59;
}

.botton-free{
    background-color: #ff7a59;
    border: 1px solid #ff7a59;
    color: #fff;
    padding: 10px;
    margin: 10px 5px;
    font-size: 15px;
    border-radius: 2px;
}

.botton-free:hover{
    background-color: #ffe8e2;
    color: #ff7a59;
}

/********Logo + Menu*********/
.header-menu{
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #cbd6e2;
    padding-top: 15px;
    padding-bottom: 15px;
    margin:0;
}

.hsg-nav-menu::after{
    content: "";
    display:table;
    clear:both;
}

.box-hsg-nav-menu-left{
    float:left;
}

.box-hsg-nav-menu-right{
    float: right;
}

#logo{
    padding: 0;
    box-sizing: border-box;
}

.logo-img{
    width: 100px;
}

.main-menu-list ul{
    text-align: right;
}

.main-menu-list li{
    display: inline-block;
}

.main-menu-list a{
    color: #33575B;
    height: 50px;
    line-height: 50px;
    padding: 0 5px;
}

.main-menu-list a.menu-list-items::after{
    content: "⇣";
}

.menu-list a:hover{
    color: #33575B;
}

/********Barra frase promozionale*********/

.header-promo{
    background-color:#33575B;
}

.hsg-promo-bar{
    color:white;
    font-size: 25px;
    line-height: 35px;
    font-weight: normal;
}

.hsg-promo-bar-link{
    color:white;
    font-size: 25px;
    font-weight: normal;
}



/********Homepage content*********/

/********Homepage start*********/

/********Home community*********/

/********Home costumers*********/

/********Home promo*********/

/********Footer*********/
